{{!-- landing page --}}
<nav>
    <!--Beginning Main Nav -->
    <div class="nav-wrapper grey lighten-4">
        <div class="container">
            <a href="#!" class="brand-logo">
                <img src="/assets/img/ttfm-logo-clr.svg" width="30" alt="TestThisForMe Logo"> TestThisFor.Me
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down indigo-text text-darken-4">
                <li>
                    <a href="#">Available Projects</a>
                </li>
                <li>
                    <a href="#">My Projects</a>
                </li>
                <li>
                    <a href="#">My Profile</a>
                </li>
                <li>
                    <a href="#">Login/Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <!--Mobile Main Nav -->
    <li>
        <a href="#">Available Projects</a>
    </li>
    <li>
        <a href="#">My Projects</a>
    </li>
    <li>
        <a href="#">My Profile</a>
    </li>
    <li>
        <a href="#">Login/Sign Up</a>
    </li>
</ul>
<!--End Main Nav -->


<div class="container">

    <ul class=" right tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab">
            <a class="active" href="#current">Current</a>
        </li>
        <li class="tab">
            <a href="#featured">Featured</a>
        </li>
        <li class="tab">
            <a href="#closed">Closed</a>
        </li>
    </ul>
    <div id="current" class="col s12">
        <p>Test 1</p>
    </div>
    <div id="featured" class="col s12">
        <p>Test 2</p>
    </div>
    <div id="closed" class="col s12">
        <p>Test 3</p>
    </div>



</div>
<!--End of Footer -->
<footer class="page-footer black">
    <div class="footer-copyright">
        <div class="container">
            ©2018 Copyright TestThisFor.Me, All rights reserved. Tyler Jenkins, Allan Jones, and Grace Ho
            <a class="grey-text text-lighten-4 right" href="#!">View Code</a>
        </div>
    </div>
</footer>