{{!-- landing page --}}
<nav>
        <div class="nav-wrapper grey lighten-4">
        <div class="container">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down indigo-text text-darken-4">
                <li><a href="sass.html">Available Projects</a></li>
                <li><a href="badges.html">My Projects</a></li>
                <li><a href="collapsible.html">My Profile</a></li>
                <li><a href="mobile.html">Login/Sign Up
                </a></li>
                </ul>
        </div>
        </div>
    </nav>
            
              <ul class="sidenav" id="mobile-demo">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
              </ul>
    <div class="container">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
            <div class="card col s5 m4">
                <div class="card-content">
                    <p>New to TestThisFor.Me? Sign up! It takes only a few seconds to change your coding life!</p>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#test4">Sign Up</a></li>
                    <li class="tab"><a href="#test5">Sign In</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="test4">
                        <div class="row">
                            <div class="card col s12 m12">
                                <div class="row">
                                    <form class="col s12">
                                      <div class="row">
                                        <div class="input-field col s6">
                                          <input id="first_name" type="text" class="validate">
                                          <label for="first_name">First Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                          <input id="last_name" type="text" class="validate">
                                          <label for="last_name">Last Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                          <input id="user_name" type="text" class="validate">
                                          <label for="user_name">User Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                          <input id="password" type="password" class="validate">
                                          <label for="password">Password</label>
                                        </div>
                                        <div class="input-field col s12">
                                          <input id="email" type="email" class="validate">
                                          <label for="email">Email</label>
                                        </div>
                                      </div>
                                      <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Submit
                                      </button>
                                    </form>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div id="test5">
                        <div class="row">
                                <div class="card col s12 m12">
                                    <h3>Welcome Back!</h3>         
                                <div class="row">
                                 <form class="col s12">
                                    <div class="row">
                                    <div class="input-field col s12">
                                     <input id="user_name" type="text" class="validate">
                                    <label for="user_name">User Name</label>
                                </div>
                                <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                                </div>
                            </div>
                                <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Submit
                                </button>
                            </form>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
            <!-- main content     -->
            <div class="card col s6 m7 offset-m1 offset-s1" id="content">
                <div class="card-content">
                    <h3>We are the best thing since sliced bread</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga necessitatibus dicta minima porro corporis velit hic, harum blanditiis reprehenderit repellat in ex, nulla veritatis exercitationem, ut cum quia expedita ipsum.</p>
                </div>
            </div>
            </div>
        </div>
    <footer>© 2018 Tyler Jenkins, Allan Jones, and Grace Ho</footer>