<main>
    <nav>
        <!--Beginning Main Nav -->
        <div class="nav-wrapper grey lighten-4">
            <div class="container">
                <a href="/" class="brand-logo">
                    <img id="ttfmLogo" src="/assets/img/ttfm-logo-clr.svg" alt="TestThisForMe Logo" width="50">
                    <span class="hide-on-med-and-down" id="navTitle">TestThisFor.Me</span>
                </a>
                <ul class="right hide-on-med-and-down indigo-text text-darken-4">
                    <li>
                        <a href="/projects/">All Projects</a>
                    </li>
                    <li>
                        <a href="#" id="myProjectsButton">My Projects</a>
                    </li>
                    {{!--
                    <li>
                        <a href="#" data-target="slide-out" class="sidenav-trigger profile">My Profile</a>
                    </li> --}} {{!--
                    <li>
                        <a href="#">Login/Sign Up</a>
                    </li> --}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row"></div>
        <div class="row"></div>
        <h2 id="projectName">Project Title</h2>
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="row">
                        <div class="card-header">
                            <h2 class="feedback-heading">How Did It Go?</h2>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <ul>
                                        <li class="col s4">
                                            <label>
                                                <input class="with-gap" name="group3" type="radio" value="5" />
                                                <span>Everything worked!</span>
                                            </label>
                                        </li>
                                        <li class="col s4">
                                            <label>
                                                <input class="with-gap" name="group3" type="radio" value="3" />
                                                <span>Looks good, but has a few issues.</span>
                                            </label>
                                        </li>
                                        <li class="col s4">
                                            <label>
                                                <input class="with-gap" name="group3" type="radio" value="1" />
                                                <span>So broke, it eats sleep for dinner.</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                                        <label for="textarea1">Specific Feedback and Comments</label>
                                    </div>
                                </div>
                                <button class="btn waves-effect waves-light btn-small" type="submit" name="action">Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    var currentProjId = sessionStorage.getItem('ttfmcurrentProjId');
    sessionStorage.removeItem('ttfmcurrentProjId');
    var currentProjTitle = sessionStorage.getItem('ttfmcurrentProjTitle');
    sessionStorage.removeItem('ttfmcurrentProjTitle');
    console.log(currentProjId, currentProjTitle);
    if (!currentProjId) {
        window.history.back();
    }

    document.querySelector('#projectName').textContent = currentProjTitle;

    var submitTest = document.querySelector('button[type="submit"]');
    submitTest.addEventListener('click', function (evt) {
        evt.preventDefault();
        var radios = document.getElementsByName('group3');
        var radioValue;
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                // do whatever you want with the checked radio
                radioValue = parseInt(radios[i].value);

                // only one radio can be logically checked, don't check the rest
                break;
            }
        }
        var bodyText = document.querySelector('#textarea1').value.trim();
        let productionUri = '/tests';
        console.log(radioValue);
        fetch(productionUri, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                body: bodyText,
                score: radioValue,
                authorDisplayName: sessionStorage.getItem('ttfmgithubAlias') || sessionStorage.getItem('ttfmdisplayName') || "",
                authorGithubName: sessionStorage.getItem('ttfmgithubName'),
                authorAvatarUrl: sessionStorage.getItem('ttfmavatarUrl'),
                ProjectId: currentProjId,
                UserId: sessionStorage.getItem('ttfmid')
            }),
            // redirect: 'follow'
        })
            .then((response) => {
                //maybe save token here
                console.log(response);
                redirectUri = response.url;
                // return response.json();
                window.location.href = redirectUri;
            })
            .then((json) => {
                console.log(json);
            });
    });
</script>