body {
    background-color: #f5f5f5;
}

footer {
    text-align: center;
    color: #1D1E50;
}

nav ul a{
    color: #1D1E50;
    font-size: 16px;
}

h2{
    font-size: 26px;
    text-align: center;
    color: #1D1E50;
}

 h3 {
     font-size: 18px;
     text-align: center;
 }

li {
    font-size: 18px;
    color: #1D1E50;
}

.nav-wrapper {
    border-bottom: #91C73E 2px solid;
}

.btn {
    background-color: #1D1E50;
}

i.material-icons {
    color: #1D1E50;
}

#content {
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

#ttfmLogo {
    width: 70px;
}

#gitLogo {
    display: block;
    margin: auto;
    width: 80px;
}

#navTitle {
    vertical-align: top;
    margin-top: 100px;
    color: #1D1E50
}