body {
  background-color: #f5f5f5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d1e50;
}

main {
  flex: 1 0 auto;
}

.dash {
  margin-top: 2em;
}

.tabs {
  background-color: transparent;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #91c73e;
}
.tabs .tab a {
  color: #393a75;
}
.tabs .indicator {
  background-color: #91c73e;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: #eeeeee;
}

footer {
  text-align: center;
  color: #1d1e50;
}

nav ul a {
  color: #1d1e50;
  font-size: 16px;
}

h2 {
  font-size: 26px;
  text-align: center;
}

h3 {
  font-size: 18px;
  text-align: center;
}

li {
  font-size: 18px;
  color: #1d1e50;
}

.nav-wrapper {
  border-bottom: #91c73e 2px solid;
}

.btn {
  background-color: #1d1e50;
}

span.badge.new {
  background-color: #91c73e;
}

i.material-icons {
  color: #1d1e50;
}

#content {
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

/*  * * My Projects * * */
nav a.sidenav-trigger.profile {
  display: inline !important;
}

.summary {
  margin-top: 2rem;
}

/*  All  Projects * * */
.collection {
  border: 1px solid #f5f5f5;
}

.collection .collection-item {
  background-color: transparent;
}

.collection i, .collection img {
  margin-top: 10px;
}

/*  Project Detail * * */

pre {
  font-family: Courier New, monospace, sans-serif;
  background-color: #eceff1;
  max-height: 600px;
  padding: 5px;
}
.comment-entry {
  margin-bottom: 3rem;
}
#navTitle {
  vertical-align: top;
  font-size: 0.875em;
  margin-top: 100px;
  color: #1d1e50;
  font-family: "Lato", sans-serif;
}

/* * *  Feedback * * */

.feedback-heading {
  padding-top: 1.5em;
}

/* landing page */
#gitLogo {
    display: block;
    margin: auto;
    width:70px;
}

#ttfmLogo {
    width: 70px;
    margin-top: -5px;
}

#instructions {
    width: 475px;
}

#repoPicker .card {
  padding: 5px 10px 5px 30px;
  margin: 2px;


}
.collection li h5 {
  height: 30px;
}
